<!-- START: MODULE - Image Text RTL -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th align="center" class="pad-btm--20" width="100%" border="0" style="width:100%; padding: 0px 0px 20px 0px;">
          <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
              <th align="center" width="100%" border="0" style="width:100%; vertical-align: middle; direction: rtl;">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <th class="stack calcwidth" align="center" width="50%" border="0" style="width:50%; vertical-align: middle;">
                      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <tr>
                          <th class="hero" align="center" width="100%" border="0" style="width:100%;"><img src="https://via.placeholder.com/300x300" data="Image Text RTL0" data-type="uploadimage" style="display: block; margin: 0 auto;" width="300" height="300"></th>
                        </tr>
                      </table>
                    </th>
                    <th class="stack calcwidth m-pad-tb--35" align="center" width="50%" border="0" style="width:50%; vertical-align: middle;">
                      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <tr>
                          <th class="pad-lr--25" align="center" width="100%" border="0" style="width:100%; direction: ltr; padding-left: 25px; padding-right: 25px;">
                            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                              <tr>
                                <th class="txt--h2 pad-btm--10 align--left ImgTxtRTLHeader" data="Image Text RTL1" data-type="header" align="center" border="0">Lorem ipsum dolor sit amet</th>
                              </tr>
                              <tr>
                                <th class="txt--body pad-btm--20 align--left FullWidthTxt" data="Image Text RTL2" data-type="textbox" align="center" border="0" style="padding-bottom: 20px;">Euismod eget mauris vel, lacinia molestie metus. Nulla tempus ullamcorper placerat.</th>
                              </tr>
                              <tr>
                                <th align="left" width="100%" border="0" style="width:100%;">
                                  <!-- bullet proof button -->
                                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                                    <tbody>
                                      <tr>
                                        <th align="center" width="100%" border="0" style="width:100%;">
                                          <table align="left" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                              <tr>
                                                <th class="txt--btn ButtonTxtLink" align="center" valign="middle"><a href="https://www.whereoware.com/" data="Image Text RTL3" data-type="button" target="_blank" name="" style="text-decoration: none; color: #ffffff;">Button Text</a></th>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <!-- end bullet proof button -->
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - Image Text RTL -->
