<!-- START: MODULE - 2UP W/ CTA -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th class="pad-lr--35 pad-btm--20" align="center" width="100%" border="0" style="width:100%; padding: 0px 35px 20px 35px;">
          <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
              <th align="center" width="100%" border="0" style="width:100%; vertical-align: top;">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <th class="stack m-pad-btm--20 calcwidth" align="center" width="47%" border="0" style="width:47%; vertical-align: top;">
                      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <tr>
                          <th align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                              <tr>
                                <th class="hero pad-btm--20" align="center" width="100%" border="0" style="width:100%; padding-bottom: 20px;"><img src="https://via.placeholder.com/250x250" data="2 Up Image Text Link0" data-type="uploadimage" width="250" height="250"></th>
                              </tr>
                              <tr>
                                <th class="txt--body pad-btm--20 pad-lr--5 align--left FullWidthTxt" data="2 Up Image Text Link1" data-type="textbox" align="center" border="0" style="padding-right: 5px; padding-left: 5px; padding-bottom: 20px;">Euismod eget mauris vel, lacinia molestie metus. Nulla tempus ullamcorper placerat.</th>
                              </tr>
							  <tr>
                                <th align="left" class="txt--link pad-btm--10 pad-lr--5 TwoUpLink" border="0" style="padding-left: 5px; padding-right: 5px;padding-bottom: 10px; text-align: left;"><a href="https://www.whereoware.com/" data="2 Up Image Text Link2" data-type="button" target="_blank" name="" style="text-decoration: underline;">Call to Action</a></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                    <th class="hideme calcwidth" align="center" width="6%" border="0" style="width:6%;"></th>
                    <th class="stack m-pad-btm--20 calcwidth" align="center" width="47%" border="0" style="width:47%; vertical-align: top;">
                      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <tr>
                          <th align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                              <tr>
                                <th class="hero pad-btm--20" align="center" width="100%" border="0" style="width:100%; padding-bottom: 20px;"><img src="https://via.placeholder.com/250x250" data="2 Up Image Text Link3" data-type="uploadimage" width="250" height="250"></th>
                              </tr>
                              <tr>
                                <th class="txt--body pad-btm--20 pad-lr--5 align--left FullWidthTxt" data="2 Up Image Text Link4" data-type="textbox" align="center" border="0" style="padding-right: 5px; padding-left: 5px; padding-bottom: 20px;">Euismod eget mauris vel, lacinia molestie metus. Nulla tempus ullamcorper placerat.</th>
                              </tr>
							  <tr>
                                <th align="left" class="txt--link pad-btm--10 pad-lr--5 TwoUpLink" border="0" style="padding-left: 5px; padding-right: 5px;padding-bottom: 10px; text-align: left;"><a href="https://www.whereoware.com/" data="2 Up Image Text Link2" data-type="button" target="_blank" name="" style="text-decoration: underline;">Call to Action</a></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - 2UP -->