<!-- START: MODULE - BACKGROUND IMAGE WITH CENTERED TEXT OVERLAY -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th class="pad-btm--30" align="center" style="width: 100%;" width="100%">
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="border: none; width: 100%;" width="100%">
            <tbody>
              <tr>
                <th width="600" height="440" background="http://via.placeholder.com/600x440/cccccc/ffffff" bgcolor="#cccccc" name="Cont_0" style="background-position: center; background-size: cover; background-repeat: no-repeat; width:600px; height: 440px; vertical-align: middle; background-image: url('http://via.placeholder.com/600x440/cccccc/ffffff');">
                  <!-- convert pixels to points for outlook width and height using the expectation that 1px = 1pt -->
                  <!-- formula: pt = px * .75 -->
                  <!--[if gte mso 9]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:450pt; height:330pt;">
                        <v:fill type="frame" src="http://via.placeholder.com/600x440/cccccc/ffffff" color="#cccccc" />
                        <v:textbox style="v-text-align: middle" inset="0,0,0,0">
                        <![endif]-->
                  <div>
                    <!-- Overlay image or text -->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                      <tbody>
                        <tr>
                          <th align="center" height="440" width="100%" border="0" style="height: 440px; width:100%;">
                            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                              <tr>
                                <th align="center" border="0" style="width:100%;" width="100%">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="overlayOuter" align="center" width="35" border="0" style="width: 35px;"></th>
                                      <th align="center" border="0">
                                        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                          <tr>
                                            <th class="txt--h1 pad-btm--20">TEXT OVERLAY</th>
                                          </tr>
                                          <tr>
                                            <th class="txt--body pad-btm--20 centered">Body text here. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis sit totam suscipit cum explicabo! Earum totam soluta eum illo aperiam.</th>
                                          </tr>
                                          <tr>
                                            <th align="center" width="100%" border="0" style="width:100%;">
                                              <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                                <tr>
                                                  <th align="center" width="100%" border="0" style="width:100%;">
                                                    <!-- bullet proof button -->
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                                                      <tbody>
                                                        <tr>
                                                          <th align="center" width="100%" border="0" style="width:100%;">
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                              <tbody>
                                                                <tr>
                                                                  <th class="txt--btn" align="center" valign="middle"><a href="https://www.whereoware.com/" target="_blank" name="mainCTA_btn" style="text-decoration: none; color: #ffffff;">Call
                                                                      to Action</a></th>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </th>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <!-- end bullet proof button -->
                                                  </th>
                                                </tr>
                                              </table>
                                            </th>
                                          </tr>
                                        </table>
                                      </th>
                                      <th class="overlayOuter" align="center" width="35" border="0" style="width: 35px;"></th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--[if gte mso 9]>
                        </v:textbox>
                        </v:rect>
                        <![endif]-->
                </th>
              </tr>
            </tbody>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - BACKGROUND IMAGE WITH CENTERED TEXT OVERLAY -->