<!-- START: MODULE - BULLETED LIST SECTION // TWO COLUMN -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th class="pad-btm--30 pad-lr--35" align="center" width="100%" border="0" style="width:100%;">
          <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
              <th class="stack" align="center" width="50%" border="0" style="width:50%;">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <th class="pad-lr--10 nopadd" align="center" width="100%" border="0" style="width:100%;">
                      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <!-- START: ROW 1 -->
                        <tr>
                          <th class="pad-btm--10" align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" style="width:100%;">
                              <tr>
                                <th class="txt--body centered" width="20" align="center" border="0" style="width: 20px; vertical-align: top;">&bull;</th>
                                <th align="center" border="0" style="vertical-align: top;">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="txt--body" align="center" width="100%" border="0" style="width:100%;">Bulleted List Two Column 1. Lorem ipsum dolor sit amet.</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                        <!-- END: ROW 1 -->
                        <!-- START: ROW 2 -->
                        <tr>
                          <th class="pad-btm--10" align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" style="width:100%;">
                              <tr>
                                <th class="txt--body centered" width="20" align="center" border="0" style="width: 20px; vertical-align: top;">&bull;</th>
                                <th align="center" border="0" style="vertical-align: top;">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="txt--body" align="center" width="100%" border="0" style="width:100%;">Bulleted List Two Column 2. Lorem ipsum dolor sit amet.</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                        <!-- END: ROW 2 -->
                        <!-- START: ROW 3 -->
                        <tr>
                          <th class="pad-btm--10" align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" style="width:100%;">
                              <tr>
                                <th class="txt--body centered" width="20" align="center" border="0" style="width: 20px; vertical-align: top;">&bull;</th>
                                <th align="center" border="0" style="vertical-align: top;">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="txt--body" align="center" width="100%" border="0" style="width:100%;">Bulleted List Two Column 3. Lorem ipsum dolor sit amet.</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                        <!-- END: ROW 3 -->
                        <!-- START: ROW 4 -->
                        <tr>
                          <th class="pad-btm--10" align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" style="width:100%;">
                              <tr>
                                <th class="txt--body centered" width="20" align="center" border="0" style="width: 20px; vertical-align: top;">&bull;</th>
                                <th align="center" border="0" style="vertical-align: top;">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="txt--body" align="center" width="100%" border="0" style="width:100%;">Bulleted List Two Column 4. Lorem ipsum dolor sit amet.</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                        <!-- END: ROW 4 -->
                      </table>
                    </th>
                  </tr>
                </table>
              </th>
              <th class="stack" align="center" width="50%" border="0" style="width:50%;">
                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                    <th class="pad-lr--10 nopadd" align="center" width="100%" border="0" style="width:100%;">
                      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <!-- START: ROW 1 -->
                        <tr>
                          <th class="pad-btm--10" align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" style="width:100%;">
                              <tr>
                                <th class="txt--body centered" width="20" align="center" border="0" style="width: 20px; vertical-align: top;">&bull;</th>
                                <th align="center" border="0" style="vertical-align: top;">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="txt--body" align="center" width="100%" border="0" style="width:100%;">Bulleted List Two Column 1. Lorem ipsum dolor sit amet.</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                        <!-- END: ROW 1 -->
                        <!-- START: ROW 2 -->
                        <tr>
                          <th class="pad-btm--10" align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" style="width:100%;">
                              <tr>
                                <th class="txt--body centered" width="20" align="center" border="0" style="width: 20px; vertical-align: top;">&bull;</th>
                                <th align="center" border="0" style="vertical-align: top;">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="txt--body" align="center" width="100%" border="0" style="width:100%;">Bulleted List Two Column 2. Lorem ipsum dolor sit amet.</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                        <!-- END: ROW 2 -->
                        <!-- START: ROW 3 -->
                        <tr>
                          <th class="pad-btm--10" align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" style="width:100%;">
                              <tr>
                                <th class="txt--body centered" width="20" align="center" border="0" style="width: 20px; vertical-align: top;">&bull;</th>
                                <th align="center" border="0" style="vertical-align: top;">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="txt--body" align="center" width="100%" border="0" style="width:100%;">Bulleted List Two Column 3. Lorem ipsum dolor sit amet.</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                        <!-- END: ROW 3 -->
                        <!-- START: ROW 4 -->
                        <tr>
                          <th class="pad-btm--10" align="center" width="100%" border="0" style="width:100%;">
                            <table align="center" width="100%" border="0" style="width:100%;">
                              <tr>
                                <th class="txt--body centered" width="20" align="center" border="0" style="width: 20px; vertical-align: top;">&bull;</th>
                                <th align="center" border="0" style="vertical-align: top;">
                                  <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                    <tr>
                                      <th class="txt--body" align="center" width="100%" border="0" style="width:100%;">Bulleted List Two Column 4. Lorem ipsum dolor sit amet.</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                        <!-- END: ROW 4 -->
                      </table>
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - BULLETED LIST SECTION // TWO COLUMN -->