<tr>
  <th>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
    <div data-type="textbox">content here</div>
  </th>
</tr>