<!-- START: MODULE - FULL WIDTH IMAGE -->
<tr>
  <th class="pad-btm--20" align="center" width="100%" border="0" style="width:100%; padding: 0px 0px 20px 0px;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th class="hero calcwidth" align="center" width="100%" border="0" style="width:100%;"><img data="Hero Image0" data-type="uploadimage" src="https://via.placeholder.com/600x350" style="display: block; margin: 0 auto;"  alt="" width="600" height="350"></th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - FULL WIDTH IMAGE -->