<!-- START: FULL-WIDTH BUTTON -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="pad-btm--30" align="center" width="100%" border="0" style="width: 100%;">
          <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
              <th class="txt--btn-full" align="center" width="100%" border="0" style="width: 100%;"><a href="https://www.whereoware.com/" target="_blank" data-type="button" data="Full-Width Button0" xt="SPCLICK" name="mainCTA_btn_full">Full-Width Text Button</a></th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: FULL-WIDTH BUTTON -->