<!-- START: MODULE - STANDARD SPACER - 20px -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th align="center" width="100%" height="20" border="0" style="width:100%; height: 20px; line-height: 20px;"></th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - STANDARD SPACER - 20px -->