<!-- START: MAIN BODY CONTENT (MODULES START HERE) -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      {% block content %}
      {% include "partials/main-body/fullimage.njk" %}
      {% include "partials/main-body/headline.njk" %}
      {% include "partials/main-body/bodytxt.njk" %}
      {% include "partials/main-body/main-cta.njk" %}
      {% include "partials/main-body/ghost-cta.njk" %}
      {% include "partials/main-body/txt-block-headline-cta.njk" %}
      {% include "partials/main-body/txt-block-colored.njk" %}
      {% include "partials/main-body/banner-colored-w-cta.njk" %}
      {% include "partials/main-body/bordered-banner.njk" %}
      {% include "partials/main-body/bulleted-list-centered.njk" %}
      {% include "partials/main-body/bulleted-list-align-left.njk" %}
      {% include "partials/main-body/bulleted-list-2-col.njk" %}
      {% include "partials/main-body/2-col-txt.njk" %}
      {% include "partials/main-body/2-up-headline-cta.njk" %}
	  {% include "partials/main-body/2-up-img-txt-link.njk" %}
	  {% include "partials/main-body/2-col-img-txt-ltr.njk" %}
	  {% include "partials/main-body/2-col-img-txt-rtl.njk" %}
      {% include "partials/main-body/section-header.njk" %}
      {% include "partials/main-body/divider.njk" %}
      {% include "partials/main-body/3-up-w-cta.njk" %}
      {% include "partials/main-body/4-up-w-cta.njk" %}
      {% include "partials/main-body/s-curve-w-cta.njk" %}
      {% include "partials/main-body/s-curve-w-cta-colored.njk" %}
      {% include "partials/main-body/bg-img-centered-content.njk" %}
      {% include "partials/main-body/bg-img-centered-overlay.njk" %}
      {% include "partials/main-body/bg-img-overlay-left.njk" %}
      {% include "partials/main-body/bg-img-overlay-right.njk" %}
      {% include "partials/main-body/standard-spacer.njk" %}
      {% endblock %}
    </table>
  </th>
</tr>
<!-- END: MAIN BODY CONTENT (MODULES START HERE) -->