/* * General Helper Classes */

.centered {
  text-align: center;
}

.bold {
  font-weight: 700;
}

th.align--left {
  text-align: left;
}

.white {
  color: $white;
}

/* * Social Media Helper Classes */

.socialimg {
  padding: 0 10px;
}