{% extends "cp-wrapper.njk" %}

{% block content %}
{% include "./partials/main-body/bulleted-list-centered.njk" %}
{% endblock %}

<!-- * Sets the unique ID for the code perfect module -->
{% set id_var = "bulletedListCenter" %}
<!-- ! Should match what's in the data="" html attributes -->
{% set data_var = "Centered Bulleted List" %}